:root {
    --primary-color: rgb(23, 136, 211);
    --primary-color-darker: rgb(14, 88, 138);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    background-color: var(--primary-color);
    padding: 0;
    margin: 0;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(58, 57, 57);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 5px solid var(--primary-color);
}

form button {
    margin-top: 25px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    font-size: 18px;
    font-weight: 700;
    height: 30px;
    cursor: pointer;
}

form button:hover {
    background-color: var(--primary-color-darker);
}